footer {
    background: var(--primary-site-colour);
    background: linear-gradient(90deg, var(--primary-site-colour) 0%, var(--secondary-site-colour) 100%); 
    color: white;
    display: flex;
    justify-content: end;
    font-size: 15px;
}

footer p {
    margin-right: 25px;
}