nav {
    background-color: var(--background-colour);
    width: 100%;
    margin: 25px 0;
}

.lslannan {
    color: black;
    font-weight: bolder;
    font-size: 5vh;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
    color: black;
}

ul a:hover {
    color: var(--primary-site-colour);
    text-decoration: underline;
}

ul a {
    text-decoration: none;
    color: black;
}

.dark-btn {
    border-radius: 50%;
    border: 1px solid var(--primary-site-colour);
    margin-right: 20px;
    background: var(--primary-site-colour);
    background: linear-gradient(90deg, var(--primary-site-colour) 0%, var(--secondary-site-colour) 100%); 
    cursor: pointer;
}

.dark-btn:hover {
    border: 1px solid black;
}

.dark-btn img {
    margin-top: 2px;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    nav a{
        display: none;
    }
    nav {
        margin: 20px 0 0 0;
    }
}