.intro-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 50px 200px 100px 200px;
}

.info, .cta-btn {
    font-size: 3vh;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.info h1, .info h2 {
    margin: 0;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cta-btn {
    /*background: rgb(187,115,249);
    background: linear-gradient(90deg, rgba(187,115,249,1) 0%, rgba(28,222,185,1) 100%); 
    */
    border: 5px solid var(--primary-site-colour);
    border-radius: 30px;
    background: transparent;
    padding: 20px ;
    cursor: pointer;
    width: 400px;
    margin-right: 75px;
}

.cta-btn:hover {
    background: var(--primary-site-colour);
    background: linear-gradient(90deg, var(--primary-site-colour) 0%, var(--secondary-site-colour) 100%); 
    color: white;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background: var(--primary-site-colour);
    background: linear-gradient(90deg, var(--primary-site-colour) 0%, var(--secondary-site-colour) 100%); 
    border-radius: 100%;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    
}

.profile-pic {
    height: 400px;
    width: 400px;
}

/* MOBILE */
@media only screen and (max-width: 600px)  {
    .intro-container {
        flex-direction: column-reverse;
        margin: 2vh;
        justify-content: center;
    }
    .info {
        text-align: center;
        flex-wrap: wrap;
        margin-top: 1vh;
    }
    .links {
        flex-direction: column;
    }
    .profile, .info, .cta-btn {
        justify-content: center;
        margin-right: 0;
        font-size: 2vh;
    }
}