.container {
    background: var(--primary-site-colour);
    background: linear-gradient(90deg, var(--primary-site-colour) 0%, var(--secondary-site-colour) 100%); 
    display: flex;
    flex-direction: column;
    color: white;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    .projects-container {
        margin: 2vh;
    }
    .container h2 {
        margin: 1vh;
        font-size: 2vh;
    }
}